@model IEnumerable<GabrielBargas.Clientes.Database.Banco.CLIENTE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            id do Cliente
        </th>
        <th>
            Nome
        </th>
        <th>
            CPF/CNPJ
        </th>
        <th>
            Telefone principal
        </th>
        <th>
            Telefone Alternativo
        </th>
        <th>
            Classificação
        </th>
        <th>
            Segmento
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL_PRINCIPAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL_ALTERNATIVO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLASSIFICACAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_SEGMENTO)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_CLIENTE }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID_CLIENTE }) |
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Views/Cliente/Metodos.js")
}